<html style="flex-direction: column;">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=ISO-8859-5">
    </head>
    <body style="border-color: rgba(0, 0, 0, 0);">
        <p class="site-intro"><br> </p>
        <table style="width: 951px; height: 514px; border-color: rgba(0, 0, 0, 0);" border="1">
            <tbody>
                <tr style="height: 483px;">
                    <td>
                        <img src="../image/me.jpg" style="width: 379; height: 466px;">
                    </td>
                    <td style="text-align: center; opacity: 100; border-color: rgba(0, 0, 0, 0); object-fit: fill; flex-direction: column;"><b>Алексей Мицкевич</b><br>
            Авторский сайт<br> <br>
            email: <a href="mailto:bebeka@tuta.io">bebeka@tuta.io</a><br>
            telegram: <a href="https://t.me/sptnk_su">@sptnk_su</a><br> <br> <br> <br> <br> <br> <b>Основная работа:</b><br>
            Создаю нужные тексты - <a href="/portfolio">Портфолио</a><br>
            Веду профили в Инстаграм - <a href="/adminstvo">Подробнее</a> <br>
            Сотрудничаю в Инстаграм - <a href="/reklama">Подробнее</a><br><br><br><br><br><br>Блог / Инстаграм / Мастодон</td>
                </tr>
                <tr>
                    <td style="width: 396px;"><br> </td>
                    <td style="width: 539px;"><br> </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
