<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=ISO-8859-5">
    </head>
    <body>
        <p class="site-intro"></p>
        <div> 
            <br>
            <table width="100%" border="1">
                <tbody>
                    <tr>
                        <td style="border-color: rgba(0, 0, 0, 0); text-align: center;">
                            <img src="../image/me.jpg" style="width: 600; height: 369; align=" op""="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div style="text-align: center;">
            <table width="100%" border="1" style="border-top-color: #000000;">
                <tbody>
                    <tr>
                        <td style="border-color: rgba(0, 0, 0, 0); text-align: center;"> <p><b>Алексей Мицкевич</b><br>
              Сайт нужного копирайтера</p> <br> 
              <p>email: <a href="mailto:bebeka@tuta.io">bebeka@tuta.io</a>
              telegram: <a href="https://t.me/sptnk_su">@sptnk_su</a></p> <br>   
              <p><b>Основная работа:</b> </p>
             <p>Создаю нужные тексты - <a href="/portfolio">Портфолио</a> <br>
             <p>Веду профили в Инстаграм - <a href="/adminstvo">Подробнее</a><br>
              <p>Сотрудничаю в Инстаграм - <a href="/reklama">Подробнее</a> </p><br>  
             <p>Блог / Инстаграм / Мастодон </p><br></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
