<p class="site-intro">
<div>
            
                        <img src="../image/me.jpg" style="width: 300; height: 369; align="top">
               </div>
<div id="center"><b>Алексей Мицкевич</b><br>
            Авторский сайт<br> <br>
            email: <a href="mailto:bebeka@tuta.io">bebeka@tuta.io</a><br>
            telegram: <a href="https://t.me/sptnk_su">@sptnk_su</a><br> <br> <br> 
            <b>Основная работа:</b><br>
            Создаю нужные тексты - <a href="/portfolio">Портфолио</a><br>
            Веду профили в Инстаграм - <a href="/adminstvo">Подробнее</a> <br>
            Сотрудничаю в Инстаграм - <a href="/reklama">Подробнее</a><br><br><br>Блог / Инстаграм / Мастодон
            
 </div>
</p>
