<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-5">
  </head>
  <body>
    <p class="site-intro"><br>
    </p>
    <table style="width: 951px; height: 514px;" border="1">
      <tbody>
        <tr style="height: 483px;">
          <td><img src="../image/me.jpg" style="width: 396px; height: 479px;"></td>
          <td style="text-align: center;">Алексей Мицкевич<br>
            Авторский сайт<br>
            <br>
            email: <a href="mailto:bebeka@tuta.io">bebeka@tuta.io</a><br>
            telegram: <a href="https://t.me/sptnk_su">@sptnk_su</a><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            Основная работа:<br>
            Создаю нужные тексты - <a href="/portfolio">Портфолио</a><br>
            Веду профили Инстаграм - <a href="/adminstvo">Подробнее</a> <br>
            Сотрудничаю с рекламодателями в Инстаграм - <a href="/reklama">Подробнее</a>
          </td>
        </tr>
        <tr>
          <td style="width: 396px;"><br>
          </td>
          <td style="width: 539px;"><br>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
